/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding: 60px;
    padding-bottom: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}















